<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.vertical-spacer-test"
        version     = "1.0.0"
        versionCode = "100" > <!-- versionCode is optional and Android only -->
        <!-- Tool Set Version -->        
        <preference name='phonegap-version' value='cli-5.2.0' />

        <name>Vertical Spacer Test</name>
        <description>Vertical Spacer Test</description>
        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Jesse Monroy
        </author>

        <!-- Target Platforms -->
        <!-- Remove to test which platforms build by default. -->
        <platform name="android" />
        <platform name="ios" />
        <platform name="winphone" />

        <!-- App requested permission -->
        <preference name="permissions" value="none"/>

    </widget>
